@import './components/header';
@import './components/list';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background-color: #5B6D6F;
}

.container {
  width: 1015px;
  margin: 0 auto;
}

.app {
  padding: 157px 0px 0px 0px;
}